html, body {
    display: block;
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    background: transparent;
    font-size: 15px;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
}



video {
    margin-top: -6%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    z-index: 1;
  }
  


/* start of hero text */

.hero-text {
    width: 100%;
  margin-top:-25%;
}


h1 {
    font-family: "heading-text";
    font-weight: 400;
  font-style: normal;
  font-size: 90px;
  color: #fff;
  text-indent: -16px;
    line-height: 78px;
    margin-bottom: 19px;
    text-align: center;
    justify-content: center;
   
}

@font-face {
    font-family: 'heading-text';
    src: url('./fonts/GarineldoNo02.otf');
}

.scroll-down {
    font: 700 14px/22px "Montserrat",serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  bottom: 40px;
  z-index: 2;
  text-align: center;
  position: absolute;
}

/* end of hero text */


/* start of navigation */
nav {
    background-color: #3B4043;
    height:55px;
}
ul {
   display: flex;
   justify-content: flex-end;
}
li {
    display: inline;
    margin-right: 3%;
    margin-top: -5%;
    font-family: "heading-text";
    font-size: 32px;
}

li a {
    color: #fff;
    text-decoration: none;
    list-style: none;
}

a:hover {
    transition: opacity .55s .2s,top .55s;
  opacity: .55;
  top: -10px;
  color: #d3b298;
  border-top: 2px solid #d3b298;
}

img {
    width: 45px;
    height:55px;
    margin-left:3%;
}

img:hover {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}
















/*start of nav */

/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 20px;
}

li {
    list-style: none;
}

.navbar-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.navbar-logo {
    flex: 2;
    text-align: center;
}

.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.start {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
}

#navbar-img {
    width:155px;
    height:55px;
}

a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-family: "nav-text";
    font-size: 30px;
}

a:hover {
    border-top:1px solid #d3b298;
transition: opacity .55s .2s,top .55s;
  opacity: .55;
  top: -10px;
  color: #d3b298;
  opacity: .55;
}


@font-face {
    font-family: 'nav-text';
    src: url('./fonts/Cool\ Mind.ttf');
}
 */

/* end of nav */